{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon carnet d'adresse</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="navbar">
        <h1 class="text-white">Mon carnet d'adresse</h1>
    </div>
    
    <div class="container">
        <div class="row g-4">
            {% for user in users %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card">
                      <div class="card-body">
                        <h2 class="card-title">{{ user.full_name }}</h2>
                        <p class="card-text">
                            {% if user.phone_number %}<p class="text-primary">{{ user.phone_number }}</p>{% endif %}
                            {% if user.address %}<p>{{ user.address }}</p>{% endif %}
                        </p>
                        <form action="{% url 'delete-contact' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="first_name" value="{{ user.first_name }}">
                            <input type="hidden" name="last_name" value="{{ user.last_name }}">
                            <button type="submit" class="btn btn-danger">Supprimer</button>
                        </form>
                      </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <div class="mt-3 mb-5">
            <form method="POST" action="{% url 'add-contact' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="first_name" class="form-label">Prénom</label>
                    <input type="text" id="first_name" name="first_name" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="last_name" class="form-label">Nom</label>
                    <input type="text" id="last_name" name="last_name" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Adresse</label>
                    <textarea name="address" id="address" rows="3" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <label for="phone_number" class="form-label">Téléphone</label>
                    <input type="text" id="phone_number" name="phone_number" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Ajouter</button>
            </form>
        </div>

    </body>
</html>